<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0033)https://www.wenjuan.com/s/mMjmAf/ -->
<html xmlns="http://www.w3.org/1999/xhtml" class=" js ">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-store">
        <meta http-equiv="Expires" content="0">
        <title>育婴爱简历资料登记表</title>
        <script src='./js/jquery.min.js'></script>
        <script src='./js/bootstrap.min.js'></script>
        <script src='./js/area.js'></script>
        <script src='./js/main.js'></script>
        <script src='./js/md5.min.js'></script>
        <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="./css/style.css">
    </head>
    <body>
        <div class='page container'>
            <div class='page-header row'>
                <div class='page-brand col-md-12'>
                    <h3>育婴爱</h3>
                </div>
                <div class='header-title col-md-12'>
                    <h3><p style='text-align:center'>育婴爱简历资料登记表</p></h3>
                </div>
            </div>
            <div class='page-content row'>
                <div class='col-md-12'>
                    <p>请如实填写以下内容，系统审核通过后会统一发送平台。谢谢合作！</p>
                </div>
                <div class='col-md-12 split-line'></div>
                <div class='col-md-12'>
                    <form method="post" enctype='multipart/form-data'>
                        <div class='form-group'>
                            <label>姓名</label>
                            <input class='form-control' id='username' type='text' name='username'/>
                            <span class="help-block sr-only" id='username_help'>至少包含三个有效字符！</span>
                        </div>
                        <div class='form-group'>
                            <label>手机号码</label>
                            <input class='form-control' id='user_phone' type='text' name='phone'/>
                            <span class="help-block sr-only" id='user_phone_help'>请填写有效的手机号码！</span>
                        </div>
                        <div class='form-group'>
                            <label>家庭地址</label>
                            <span class="help-block sr-only" id='user_area_help'>请填写有效的地区信息！</span>
                            <div class='row'>
                                <div class='col-md-4' style='margin:5px 0px;'>
                                    <select class='form-control' id='user_province' name='province'>
                                        <option value=''>请选择省份</option>
                                    </select>
                                </div>
                                <div class='col-md-4' style='margin:5px 0px;'>
                                    <select class='form-control' id='user_city' name='city'>
                                        <option value=''>请选择城市</option>
                                    </select>
                                </div>
                                <div class='col-md-4' style='margin:5px 0px;'>
                                    <select class='form-control' id='user_district' name='district'>
                                        <option value=''>请选择区/县</option>
                                    </select>
                                </div>
                            </div>
                            <label style='margin-top:10px;'>街道信息</label>
                            <textarea class='form-control' id='street_info' name='street_info'></textarea>
                        </div>
                        <div class='form-group'>
                            <label>上户数量</label>
                            <input class='form-control' id='user_number' type='number' name='user_number' />
                            <span class="help-block sr-only">请填写信息！</span>
                        </div>
                        <div class='form-group'>
                            <label>工作年限 (单选)</label>
                            <span class="help-block sr-only" id='work_age_help'>请选择选项！</span>
                            <div class='radio'>
                                <label>
                                    <input name='work_age' type='radio' value='1年以下'/>1年以下
                                </label>
                            </div>
                            <div class='radio'>
                                <label>
                                    <input name='work_age' type='radio' value='1至3年'/>1-3年
                                </label>
                            </div>
                            <div class='radio'>
                                <label>
                                    <input name='work_age' type='radio' value='3至5年'/>3-5年以下
                                </label>
                            </div>
                            <div class='radio'>
                                <label>
                                    <input name='work_age' type='radio' value='5年以上'/>5年以上
                                </label>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label>掌握的技能 (可多选)</label>
                            <span class="help-block sr-only" id='user_skills_help'>请选择选项！</span>
                            <div class='checkbox'>
                                <label>
                                    <input type='checkbox' name='early_education' value='早教'> 早教
                                </label>
                            </div>
                            <div class='checkbox'>
                                <label>
                                    <input type='checkbox' name='prolactin' value='催乳'> 催乳
                                </label>
                            </div>
                            <div class='checkbox'>
                                <label>
                                    <input type='checkbox' name='body_recovery' value='产后形体恢复'> 产后形体恢复
                                </label>
                            </div>
                            <div class='checkbox'>
                                <label>
                                    <input type='checkbox' name='pediatric_massage' value='小儿推拿'> 小儿推拿
                                </label>
                            </div>
                            <div class='checkbox'>
                                <label>
                                    <input type='checkbox' name='postpartum_sweating' value='产后发汗'> 产后发汗
                                </label>
                            </div>
                            <div class='checkbox'>
                                <label>
                                    <input type='checkbox' name='baby_exception' value='双胞胎、早产儿、病儿'> 双胞胎、早产儿、病儿
                                </label>
                            </div>
                            <div class='checkbox'>
                                <label>
                                    <input type='checkbox' name='ovary_care' value='卵巢保养'> 卵巢保养
                                </label>
                            </div>
                            <div class='checkbox'>
                                <label>
                                    <input type='checkbox' name='uterus_old' value='子宫复旧'> 子宫复旧
                                </label>
                            </div>
                            <div class='checkbox'>
                                <label>
                                    <input type='checkbox' name='psychological_counseling' value='产妇心理疏导'> 产妇心理疏导
                                </label>
                            </div>
                            <div class='checkbox'>
                                <label>
                                    <input type='checkbox' name='baby_care' value='宝宝基础护理'> 宝宝基础护理
                                </label>
                            </div>
                            <div class='checkbox'>
                                <label>
                                    <input type='checkbox' name='month_meal' value='月子餐'> 月子餐
                                </label>
                            </div>
                        </div>
                        <div class='form-group'>
                            <span class="help-block sr-only" id='work_experience_help'>请填写内容！</span>
                            <label>工作经历描述</label>
                            <textarea class='form-control' id='work_experience' name='experience'></textarea>
                        </div>
                        <div class='form-group'>
                            <label>点击选择文件上传个人生活照、工作照、技能证书照、月子餐、锦旗照片等(最大10M)</label>
                            <span class="help-block sr-only" id='upload_file_help'>请选择上传的文件！</span>
                            <span class="help-block sr-only" id='max_file_help'>文件大小超过10M!</span>
                            <input class='form-control' type='file' id='upload_file' name='upload_file'> 
                        </div>
                        <input class='btn btn-primary' type='submit' id='btn_submit_info' value='提交'>
                    </form>
                    <br>
                    <br>
                </div>
            </div>
            <div class='page-footer'>
                <p style='text-align:center'>xxxx 公司版权所有 ©️2011-2017</p>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                window.resume.page_home();
            })
            
        </script>
    </body>
</html>
